{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu desplegable</title>
   
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="{% static 'juegosNuevosINdex/css/estilos.css' %}" />
    <link rel="stylesheet" href="{% static 'juegosNuevosINdex/css/bootstrap.css' %}" />

</head>
<body>
    <nav class="menu">
        <section class="menu__container">
            <img src="{% static 'juegosNuevosINdex/img/logo.png' %}" alt="" width="5%" height="100%">

            <ul class="menu__links">
                <li class="menu__item">
                    <a href="{% url 'index' %}" class="menu__link">Inicio</a>
                </li>
    
                <li class="menu__item menu__item--show">
                    <a href="#" class="menu__link">Unidad 1 <img src="{% static 'juegosNuevosINdex/assets/arrow.svg' %}" class="menu__arrow"></a>
    
                    <ul class="menu__nesting">
                        <li class="menu__inside">
                            <a href="{% url 'numerosIndex' %}" class="menu__link menu__link--inside">Números</a>
                        </li>
                        <li class="menu__inside">
                            <a href="{% url 'figurasIndex' %}" class="menu__link menu__link--inside">Figuras</a>
                        </li>
                        <li class="menu__inside">
                            <a href="{% url 'sumaIndex' %}" class="menu__link menu__link--inside">Suma</a>
                        </li>
                        <li class="menu__inside">
                            <a href="{% url 'restaIndex' %}" class="menu__link menu__link--inside">Resta</a>
                        </li>
                        <li class="menu__inside">
                            <a href="{% url 'kilogramoIndex' %}" class="menu__link menu__link--inside">Kilogramo y gramo</a>
                        </li>
                    </ul>
                </li>
    
                <li class="menu__item  menu__item--show">
                    <a href="#" class="menu__link">Unidad 2  <img src="{% static 'juegosNuevosINdex/assets/arrow.svg' %}" class="menu__arrow"></a>
    
                    <ul class="menu__nesting">
                        <li class="menu__inside">
                            <a href="{% url 'decenasIndex' %}" class="menu__link menu__link--inside">Decenas y Unidades</a>
                        </li>
                        <li class="menu__inside">
                            <a href="{% url 'indexJuego' %}" class="menu__link menu__link--inside">Conjuntos</a>
                        </li>
                        <li class="menu__inside">
                            <a href="{% url 'sucesionesIndex' %}" class="menu__link menu__link--inside">Sucesiones</a>
                        </li>
                        <li class="menu__inside">
                            <a href="{% url 'litroIndex' %}" class="menu__link menu__link--inside">Litro</a>
                        </li>
                        <li class="menu__inside">
                            <a href="{% url 'conjuntosIndex' %}" class="menu__link menu__link--inside">Conteo númerico y unidad monetaria</a>
                        </li>
                    </ul>
                </li>
    
           
            </ul>

            <div class="menu__hamburguer">
                <img src="{% static 'juegosNuevosINdex/img/hamburguesa.svg' %}" class="menu__img">
            </div>
        </section>

      
    </nav>
    <header class="header" id="inicio" >
        <div class="contenedor head">
            <h1 class="titulo"><Strong>Matemáticas:</Strong> Conjuntos
            </h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        </div>
    </header>
    <main>
        <section class="services contenedor" id="servicio">
            <h2 class="subtitulo">Concepto:</h2>
            <p align="justify">En matemáticas, un conjunto es una colección de elementos considerada en sí misma
                como un objeto. Los elementos de un conjunto, pueden ser las siguientes: 
                personas, números, colores, letras, figuras, etc. Se dice que un elemento 
                pertenece al conjunto si está definido como incluido de algún modo dentro de él.</p>
            <div class="contenedor-servicio">
                <img src="{% static 'juegosNuevosINdex/img/parte.png' %}" alt="">
                <div class="checklist-servicio">
                    <div class="service">
                        <h3 class="n-service"><span class="number">1</span>Conjunto:</h3>
                        <p style="font-size: 13px;" align="justify">Podemos afirmar que un conjunto es  una colección de cosas, personas, objetos, etc.</p>
                        
                    </div>
                    <div class="service">
                        <h3 class="n-service"><span class="number">2</span>Elemento:</h3>
                        <p style="font-size: 13px;"align="justify">Cada una de las cosas que forman parte del conjunto recibe le nombre de elemento.</p>
                        
                    </div>
                    <div class="service">
                        <h3 class="n-service"><span class="number">3</span>Nombre del Conjunto:

                        </h3>
                        <p style="font-size: 13px;"align="justify">Todo conjunto tiene un nombre con el cual lo vamos a identificar con letras mayúsculas A, B, C, D, etc.</p>
                        
                    </div>
                </div>
            </div>
        </section>
        <section class="services contenedor" id="servicio">
            <h2 class="subtitulo">Tipos de Conjuntos:</h2>
            
            <div class="contenedor-servicio1">
                <div class="posts">
                    <article class="prueba3">
                        <br><br>
                        <h3 class="prueba1">Conjunto vacío</h3>
                        <p align="center">El conjunto vacío es aquel que no tiene elementos. En matemáticas, el conjunto vacío es el conjunto que carece de elementos.</p>
                        <img align="center"  src="{% static 'juegosNuevosINdex/img/vacio.png' %}" width="80%" height="80%"alt="#" style="margin-left: 10%;" >
                        <hr>                        
                    </article>
                    <article class="prueba3">
                        <h3 class="prueba1">Conjunto Unitario</h3>
                        <p align="center">El conjunto unitario se distingue por tener solo un elemento. No importa qué tipo de elemento tenga el conjunto, un gato, un perro, un número, etc.</p>
                        <img align="center"  src="{% static 'juegosNuevosINdex/img/unitario.png' %}" width="80%" height="80%"alt="#" style="margin-left: 10%;" >
                        <hr>                 
                    </article>
                    <article class="prueba3"> 
                        <h3 class="prueba1">Conjunto universo</h3>
                        <p align="center">El conjunto universo es el que esta formado por todos los elementos del tema tratado.</p>
                        <p align="center"><strong>Ejemplo:</strong>  Este conjunto universo tiene dos subconjuntos que son: frutas y verduras.</p>
                        <img align="center"  src="{% static 'juegosNuevosINdex/img/universo.png' %}"width="80%" height="80%"alt="#" style="margin-left: 10%;" >
                        <hr>
                    </article>
                    
                    <article class="prueba3">
                        
                        <h3 class="prueba1">Conjunto finito</h3>
                        <p align="center">Un conjunto finito, en otras palabras, es aquel que posee un número de elementos que pueden contarse. Siendo lo opuesto a un conjunto infinito, donde los elementos son incontables.</p>
                        <img align="center"  src="{% static 'juegosNuevosINdex/img/finitos.png' %}" width="40%" height="40%"alt="#" style="margin-left: 30%;" >
                        <hr>
                    </article>
                    <article class="prueba3">
                        <h3 class="prueba1">Conjunto infinito</h3>
                        <p align="center">Los conjuntos infinitos son aquellos a los cuales no podemos contar la cantidad de elementos que los componen.</p>
                        <img align="center"  src="{% static 'juegosNuevosINdex/img/infinitos.png' %}" width="40%" height="40%"alt="#" style="margin-left: 30%;" >
                        <hr>
                    
                    </article>
                    <article class="prueba3">
                        <img align="center"  src="{% static 'juegosNuevosINdex/img/idea.png' %}" width="40%" height="40%"alt="#" style="margin-left: 30%;" >
                        <hr>
                    
                    </article>
                </div>
            </div>
        </section>
        <!--
        <section class="gallery" id="portafolio">
            <div class="contenedor">
                <h2 class="subtitulo">Tipos de Conjuntos</h2>
                <div class="contenedor-galeria">
                    <img src="{% static 'JuegosNuevosINdex/img/niñas.png' %}" alt="" class="img-galeria">
                    <img src="{% static 'JuegosNuevosINdex/img/niños.png' %}" alt="" class="img-galeria">
                    <img src="{% static 'JuegosNuevosINdex/img/subconjuntos.png' %}" alt="" class="img-galeria">
                    <img src="{% static 'JuegosNuevosINdex/img/unitario.png' %}" alt="" class="img-galeria">
                    <img src="{% static 'JuegosNuevosINdex/img/sub1.png' %}" alt="" class="img-galeria">
                    <img src="{% static 'JuegosNuevosINdex/img/Conjuntos.png' %}" alt="" class="img-galeria">
                </div>
            </div>
        </section>
        <section class="imagen-ligth">
            <img src="{% static 'JuegosNuevosINdex/img/close.svg' %}" alt="" class="close">
            <img src="{% static 'JuegosNuevosINdex/img/portada.png' %}" alt="" class="agregar-imagen">
            
                
            </div>
            
        </section>
        -->
        <section>
            <br>
            <h2 class="subtitulo">Juega y Aprende</h2>

            <div style="margin-left:10%; margin-right: 10%; margin-top: 5%;">
                <iframe style="max-width:100%" src="https://wordwall.net/es/embed/c57510179e9a4914870d3debe674912d?themeId=22&templateId=45&fontStackId=0" width=100% height="380" frameborder="0" allowfullscreen></iframe>
            </div>
        </section>
        <section class="juega aprende">
            <div class="contenedor">
                <h2 class="subtitulo">Material De Refuerzo</h2>
                <div class="elija-juego">
                    <div class="imagen-juegos">
                        <img src="{% static 'JuegosNuevosINdex/img/video.png' %}" alt="">
                        <div class="hover-icono">
                            <a href="https://youtu.be/EJsvPfix5ik" style="text-decoration: none; " target="_blank"> <p>Ver</p></a>
                           
                        </div>
                    </div>
                    <div class="imagen-juegos">
                        <img src="{% static 'JuegosNuevosINdex/img/pdf.png' %}" alt="">
                        <div class="hover-icono">
                            <li style="list-style-type:none ;"><a target="_blank" href="{% static 'JuegosNuevosINdex/img/conjuntos1.pdf' %}" style="text-decoration: none; color: aliceblue;" >Descargar</a></li>

                        </div>
                    </div>
                   
                </div>
            </div>
        </section>
     

    </main>
    <footer class="contacto" id="contacto"style="height:40% ;">
        <div class="footer-content">
            <div class="contact-us">
                <h2 class="brand">Unidad Educativa Intercultural Bilingüe Huayna Capac </h2>
                <P>Comprometidos con la formación profesional desde 1982.
                </P>
            </div>
            
        </div>
        <div class="line"></div>
    </footer>
   <script src="{% static 'juegosNuevosINdex/js/app.js' %}"></script>
   <script src="{% static 'juegosNuevosINdex/js/lightbox.js' %}"></script>
   <script src="{% static 'juegosNuevosINdex/js/jquery.js' %}"></script>
</body>
</html>